<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kart"
        tools:targetApi="31">
        <activity
            android:name=".SliderH"
            android:exported="false" />
        <activity
            android:name=".TabA"
            android:exported="false" />
        <activity
            android:name=".TaAcivity"
            android:exported="false"
            android:label="@string/title_activity_ta_acivity"
            android:theme="@style/Theme.Kart.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:exported="false"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.Kart.NoActionBar" />
<!--        <activity-->
<!--            android:name=".DrawerActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_drawer"-->
<!--            android:theme="@style/Theme.Kart.NoActionBar" />-->
        <activity
            android:name=".NewBottom"
            android:exported="false" />
        <activity
            android:name=".NavActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".MainActivityF"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderDetail"
            android:exported="false" />
        <activity
            android:name=".MyOrder"
            android:exported="false" />
        <activity
            android:name=".CheckoutPage"
            android:exported="false" />
        <activity
            android:name=".CartPage"
            android:exported="false" />
        <activity
            android:name=".ProductDetail"
            android:exported="false" />
        <activity
            android:name=".ProductList"
            android:exported="false" />
        <activity
            android:name=".CategorySection"
            android:exported="false" />
        <activity
            android:name=".AdminSection"
            android:exported="false" />
        <activity
            android:name=".MainSection"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>